<% content_for :title, "Editing Listing" %>

<div id="main">

		<div id="listing-form">
		
			<h2>Edit Listing</h2>
			
			<div class="form">
				<%= render :partial => 'form' %>
			</div><!--end registerform-->
		
		</div><!--end register-->		

</div><!--end main-->