<% content_for :title, "User Registration" %>

<div id="main">
	<div class="form">
		
		<h2>Account Activation and Verification</h2>
		<p>
			Your account activation code has been emailed to you.<br />
			You will need to send an SMS containing the verification code in order to activate your account.<br />
			This activation process is necessary to confirm your phone number.
		</p>
		<h2>How to Activate</h2>
		<p>
			Send <strong><u>activate &lt;activation_code&gt;</u></strong> to <strong><u>5323</u></strong> to activate your account.
		</p>
		<p>
			You will receive a confirmation reply once your account has been activated.<br />			
			If you have any problems activating your account please feel free to contact us.
		</p>
				
	</div>
</div><!--end main-->


