<% content_for :title, "Page Not Found" %>

<div id="main">

		<div id="article">
		
			<h2>Page Not Found (404) </h2>
			<p>We are sorry. The page you are trying to access was not found. Please check your link.</p>
		
		</div><!--end article-->

</div><!--end main-->